@using CIS341_Project.Data
@model List<CIS341_Project.Models.DTO.AllAssignmentsDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-striped table-hover table-bordered border-secondary overflow-auto">
    @*Make the first row with the names and the first column saying date*@
    <tr>
        <th><a asp-controller="Assignments" asp-action="Create">New Assignment</a></th>
        @foreach (var name in ViewBag.HouseholdMembersWithAssignments)
        {
            <th>
                @name
            </th>
        }
    </tr>
    @foreach (CIS341_Project.Models.DTO.AllAssignmentsDTO aADTO in Model)
    {
        <tr>
            <th>
                @aADTO.DueDate.ToShortDateString()
            </th>
            @foreach (List<CIS341_Project.Models.DTO.AssignmentDTO> householdMembersAssignments in aADTO.HouseholdMembersAssignments)
            {
                <td>
                    @foreach (CIS341_Project.Models.DTO.AssignmentDTO assignment in householdMembersAssignments)
                    {
                        <div>
                            <input asp-for=@assignment.Completed disabled /> @assignment.TaskDescription <a asp-action="Edit" asp-route-id="@assignment.AssignmentID">Edit</a> | <a asp-action="Delete" asp-route-id="@assignment.AssignmentID">Delete</a>
                        </div>
                    }
        </td>
                }
        </tr>
    }
    @*Make the rest of the rows with the passed in model everytime the date changes new row*@
</table>